// VSL colors

.vsl-red-dark {
    color: #ac0b3d;
}

.vsl-red-dark-bg {
    background: #a7222a;
}

.vsl-red-light {
    color: #e8004c;
}

.vsl-orange {
    color: #ff6d10;
}

.vsl-yellow {
    color: #ffbf3d;
}

.vsl-green-dark {
    color: #00956e;
}

.vsl-green-light {
    color: #76bd22;
}

.vsl-gray-dark {
    color: #4a4f55;
}

.vsl-aqua {
    color: #64d0e4;
}

.vsl-purple-dark {
    color: #522d6d;
}

.vsl-purple-light {
    color: #86339a;
}